<div class="app-container">
  <app-toolbar></app-toolbar>
  <app-facets (onAgentSelected)='setCurrentAgent($event)' 
  (onCallSelected)='getCall($event)'
  (onSliderChange)='updateSensitivity($event)'
  (onCallTypeSelected)='getCalls($event)' 
  [agents]='agents$ | async' 
  [callTypes]='callTypes$ | async'
  [calls]='calls$ | async'
  >
  </app-facets>
  <div class="script-layout" *ngIf='(call$ | async) as call'>
      <app-real-call [sensitivity]='sensitivity' [transcript]='call.transcript'></app-real-call>
      <app-script-call [script]='call.script'></app-script-call>
  </div>
      <div *ngIf='!(call$ | async)' class="init-template">
        <img src="assets/images/image_1.jpg" alt="">
        <h1>Selection pending</h1>
        <p>Select a call from top menu and a transcript analysis will be shown here</p>
  
      </div>
</div>