<mat-toolbar>
    <div class="filter-section">

        <mat-form-field>
            <mat-select>
                <mat-icon matPrefix>people</mat-icon>
                <mat-option [value]='agent.id' *ngFor='let agent of agents'>{{agent.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>

            <mat-select>
                <mat-option></mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>

            <mat-select>
                <mat-option></mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="sensitivity-section">
        <h4>MATCHING SENSITIVITY</h4>
        <mat-slider></mat-slider>
        <h4>42%</h4>
    </div>
</mat-toolbar>