<mat-card>
  <mat-toolbar>
    <span>Real</span>
    <span>{{sensitivity}}%</span>
  </mat-toolbar>
  <table mat-table [dataSource]="transcript" *ngIf='transcript'>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> <strong>Time</strong> </th>
      <td mat-cell *matCellDef="let element"> {{element.time * 1000 | date:'mm:ss'}} </td>
    </ng-container>

    <!-- Speaker Column -->
    <ng-container matColumnDef="speaker">
      <th mat-header-cell *matHeaderCellDef> <strong>Speaker</strong> </th>
      <td  mat-cell *matCellDef="let element"> {{element.speaker}} </td>
    </ng-container>

    <!-- Sentence Column -->
    <ng-container matColumnDef="sentence">
      <th mat-header-cell *matHeaderCellDef> <strong>Sentence</strong> </th>
      <td  mat-cell *matCellDef="let element">
        <span class='darken' *ngIf='element.matchingSentence' [matTooltip]='element.similarity + "% with " + "`" + element.matchingSentence + "`"' >{{element.sentence}} </span>
        <span  *ngIf='!element.matchingSentence'  >{{element.sentence}} </span>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr  mat-row *matRowDef="let row; columns: displayedColumns;">
      {{row}}
    </tr>
  </table>
</mat-card>