<table mat-table [dataSource]="transcript" class="mat-elevation-z8">

    <!-- Time Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> <strong>Time</strong> </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>
  
    <!-- Speaker Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> <strong>Speaker</strong> </th>
      <td mat-cell *matCellDef="let element"> {{element.speaker}} </td>
    </ng-container>
  
    <!-- Sentence Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> <strong>Sentence</strong> </th>
      <td mat-cell *matCellDef="let element"> {{element.sentence}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>